@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 2.5s linear forwards;
}
